@keyframes rotateAnimation {
    to {
        transform: rotate(360deg);
    }
}

.fan {
    width: 40px;
    height: 40px;
    transition: transform 0.25s;
}

.active-fan {
    animation: rotateAnimation 0.25s linear infinite;
}

.weather-icon {
    margin-left: 12px;
}